/* CSS FILE, By Hooksandeer */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

:root {
    --police: 'Raleway', sans-serif;
    --police2: 'Playfair Display', serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--police);
    scroll-behavior: smooth;
}

.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}
    
.leftPanel { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: black;
    color: white;
}

.topBar {
    position: absolute;
    top: 1%;
    left: 1%;
    font-size: 20px;
}

.intraLink {
    position: absolute;
    top: 1%;
    right: 51%;
    font-size: 20px;
    word-spacing: 20px;
}

#titleText {
    font-size: 60px;
    font-weight: bold;
    font-family: var(--police2);
}

.text-title {
    position: relative;
    top: 20%;
    left: 25%;
    width: auto;
    font-weight: 300;
    font-size: 25px;
}

.contact {
    position: relative;
    top: 30%;
    left: 25%;
    width: auto;
    font-weight: 300;
    font-size: 25px;
}

#contact-id {
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-decoration: none;
    text-decoration-color: #175732;
    transition: all 0.2s;
}
#contact-id:hover {
    color: white;
    text-decoration: underline;
    font-size: 26px;
}

#name-contact {
    font-weight: bold;
    text-decoration-line: none;
}

#link {
    position: relative;
    top: 20%;
    color: white;
    font-size: 22px;
    transition: all 0.1s;
    text-decoration: none;
}
#link:hover {
    font-size: 32px;
    text-decoration: underline;
    text-decoration-color: #175732;
}

.about {
    color: red;
    position: relative;
    left: 25%;
    top: 100%;
}

.rightPanel { 
    grid-area: 1 / 2 / 2 / 3; 
    background-color: #175732;
}

#photo {
    position: fixed;
    top: 35%;
    left: 68%;
    border-radius: 20px;
}